@model Course
@{
    ViewData["Title"] = "Delete course";
}
<div class="auth">
    <a href="@Url.Action("Index")"><div class="back-arrow"></div></a>

    <h1 style="text-align:center">Delete Course</h1>
    <h5 style="text-align:center">Are you sure you want to delete this course?</h5>
    <div>
        <h6 style="text-align:center">Course Name: @Model.Name</h6>
        <h6 style="text-align:center">Max Capacity: @Model.MaxCapacity</h6>
    </div>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post" style="text-align:center">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" href="@Url.Action("Index")">Cancel</a>
    </form>
    <script>
        var x = document.getElementsByClassName('pb-3');
        x[0].style.backgroundColor = "transparent";
        x[0].style.border = "0px";
        x[0].style.boxShadow = "0px 0px";
    </script>
</div>